* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
   
    margin: 0 auto;
    background: url('https://avatars.mds.yandex.net/i?id=7da9483d6472412b1c4f84afe944032d-4477047-images-thumbs&n=13');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
}

h2 {
	text-align:center;
  

}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: white;
}

label {
	display:inline-block;
}

.timeofday {
    background-color: white;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:blue;
    margin-top:10px;
}
#clearButton {
    float:right;
    background-color:red;
    margin-top:10px;
}

